
body{
    font-family: arial;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.form-search{
    margin: 0px 0px 10px 10px;
}
.form-control {
    padding: 6px;
    margin-top: 8px;
    width: 400px;
    font-size: 17px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
  }
  
.btn-submit{
    padding: 6px;
    margin-top: 28px;
    background: #cacaca;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
 .btn-submit:hover{
    background: #e6e6e6;
  }
.product-items{
    padding: 10px;
    border: 1px solid #ff6a28;
    border-radius: 0 0 10px 10px;
}

.product-items ul{
    padding: 0;
    margin: 0;
}
.product-prop{
    float: right;
    border-left: 1px solid #ccc;
    line-height: 90px;
    padding: 0 10px;
}
.product-img{
    width: 109px;
    height: 90px;
    float: left;
}
.product-img img{
    width: 100px;
    padding: 5px;
    height: 80px;
}
.product-name{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 70px;
    text-align:center;
}
.product-name2{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 340px;
}
.product-name3{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 192.76px;
    text-align: center;
}
.product-name4{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 150px;
    text-align: center;
}
.product-button{
    float: left;
    border-right: 0;
    padding: 0 10px;
    width: 57px;
    height: 90px;
    text-align: center;
}
.clear-both{
    clear: both;
}
.product-items ul li{
    list-style: none;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
}
.product-items ul li:first-child{
    border-top: 1px solid #ccc;
}
.product-time{
    width: 150px;
    text-align: center;
}
.product-item-heading{
    text-align: center;
    font-weight: bold;
}
.product-item-heading .product-prop{
    height: 40px;
    line-height: 40px;
    background: #ff6a28;
    color: #FFF;
}
.buttons{
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 0px 10px 10px;
    line-height: 40px;
}
.buttons a{
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
    background: #ff6a28;
}
a{
    text-decoration: none;
    color:rgb(0, 94, 255);
}
a:hover{
    color: #ff0000;
}
.left-menu{
    float: left;
    width: 140px;
    border: 0.5px solid #ff6a28;
    border-radius: 10px;
}
.main-content{
    float: left;
    width: 1035px;
    margin-left: 20px;
}
.main-content h1{
    margin: 0;
    text-align: left;
    background: #ff6a28;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;
}
#content-wrapper .container{
    padding: 15px 0;
}
.menu-heading{
    background: #ff6a28;
    line-height: 20px;
    padding: 10px;
    color: #FFF;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
}
.menu-items ul{
    margin: 0;
    padding: 0;
}
.menu-items ul li{
    list-style: none;
    line-height: 30px;
    border-bottom: 1px dashed #ff6a28;
    padding-left: 15px;
}
.menu-items ul li a{
    color: #000;
}
.menu-items ul li:first-child{
    border-top: 0;
}
.menu-items{
    padding: 0;
    border: 0px solid #ccc;
    border-radius: 10px;
}
#pagination{
    text-align: center;
    margin-top: 15px;
}
.page-item{
    border: 1px solid #ccc;
    padding: 5px 9px;
    color: rgb(0, 0, 0);
}
.current-page{
    background: #ff6a28;
    color: rgb(255, 252, 252);
}
.categories{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}
.categories ul{
    padding: 0;
    margin: 0;
}
.categories ul li{
    list-style: none;
    width: max-content;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    
}
.categories ul li:first-child{
    border-top: 1px solid #ccc;
    width: max-content;
}
.categories-prop{
    float: left;
    border-left: 1px solid #ccc;
    line-height: 90px;
    padding: 0 10px;
}
.categories-heading{
    text-align: center;
    font-weight: bold;
}
.categories-heading .categories-prop{
    height: 60px;
    line-height: 60px;
    background: #ff6a28;
    color: #FFF;
}
.categories-name{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 50px;
    text-align: center;
}
.categories-name2{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 150px;
    text-align: center;
}
.categories-button{
    float: left;
    border-right: 0;
    padding: 0 10px;
    width: 90px;
    text-align: center;
}
.customer{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}
.customer ul{
    padding: 0;
    margin: 0;
    
}
.customer ul li{
    list-style: none;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
}
.customer ul li:first-child{
    border-top: 0px solid #ccc;
}
.customer-prop{
    float: left;
    border-left: 1px solid #ccc;
    line-height: 60px;
    padding: 0 10px;
}
.customer-heading{
    text-align: center;
    font-weight: bold;
}
.customer-heading .customer-prop{
    height: 40px;
    line-height: 40px;
    background: #ff6a28;
    color: #FFF;
    text-align: center;
}
.customer-name{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 75px;
    text-align: center;
}
.customer-name2{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 170px;
    text-align: center;
}
.customer-name3{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 150px;
    text-align: center;
}
.customer-button{
    float: left;
    border-right: 0;
    padding: 0 10px;
    width: 64px;
    text-align: center;
}
.customer-button a{
    padding: 6px;
    margin-top: 28px;
    background: #cacaca;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color:rgb(0, 0, 0);
}
.customer-button a:hover{
    background: #e6e6e6;
}
.employee{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}
.employee ul{
    padding: 0;
    margin: 0;
    
}
.employee ul li{
    list-style: none;
    width: max-content;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    
}
.employee ul li:first-child{
    border-top: 1px solid #ccc;
    width: max-content;
}
.employee-prop{
    float: left;
    border-left: 1px solid #ccc;
    line-height: 50px;
    padding: 0 10px;
}
.employee-heading{
    text-align: center;
    font-weight: bold;
}
.employee-heading .employee-prop{
    height: 40px;
    line-height: 40px;
    background: #ff6a28;
    color: #FFF;
}
.employee-name{
    padding: 0px 5px;
    border-right: 0;
    float: left;
    width: 67px;
    text-align: center;
}
.employee-name2{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 170px;
    text-align: center;
}
.employee-name3{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 117px;
    text-align: center;
}
.employee-name4{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 75px;
    text-align: center;
}
.employee-button{
    float: left;
    border-right: 0;
    padding: 0 10px;
    width: 30px;
    text-align: center;
}
.employee-button a{
    padding: 5px;
    margin-top: 28px;
    background: #cacaca;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color:rgb(0, 0, 0);
}
.employee-button a:hover{
    background: #e6e6e6;
}
