
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,500,500i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,700,700i,900,900i|Abril+Fatface&subset=latin-ext");
* {
  box-sizing: border-box;
}

/* transition */
/* flex */
/* transform */
/* opacity */
/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
/*-- Google Font --*/
/*-- Common Style --*/
*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 24px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Libre Franklin", sans-serif;
  color: #747474;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 36px;
}

h3 {
  font-size: 30px;
  line-height: 30px;
}

h4 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

h6 {
  font-size: 12px;
  line-height: 14px;
}

p:last-child {
  margin-bottom: 0;
}

a, button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

a, button, img, input, span {
  transition: all 0.3s ease 0s;
}

.btn:focus {
  box-shadow: none;
}

*:focus {
  outline: none !important;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button, input[type="submit"] {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*-- 
    - Common Classes
-----------------------------------------*/
.container {
  max-width: 1140px;
}

.fix {
  overflow: hidden;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 450px;
  }
}
@media only screen and (max-width: 479px) {
  .container {
    width: 100%;
  }
}
.overly-bg-black {
  position: relative;
}

/*-- 
    Scroll Up 
-----------------------------------------*/
#scrollUp {
  background: #242424 none repeat scroll 0 0;
  bottom: 85px;
  color: #ffffff;
  cursor: pointer;
  display: none;
  font-size: 20px;
  height: 45px;
  line-height: 39px;
  position: fixed;
  right: 12px;
  text-align: center;
  width: 45px;
  z-index: 9999;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-transition: .3s;
  transition: .3s;
}
#scrollUp:hover i {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

/* 02. Element */
.button {
  background: #ff6a28;
  border-radius: 16px;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  height: 33px;
  line-height: 33px;
  padding: 0 16px;
  text-transform: uppercase;
  font-size: 12px;
}

.header_top {
  background: #242424;
  padding: 7px 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header_top {
    padding: 7px 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_top {
    padding: 12px 0;
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .header_top {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .welcome_text {
    display: none;
    text-align: center;
    margin-bottom: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .welcome_text {
    display: none;
    margin-bottom: 13px;
  }
}
.welcome_text ul li {
  display: inline-block;
  font-size: 12px;
  color: #a9a9a9;
  line-height: 26px;
  position: relative;
  padding-right: 15px;
  margin-right: 15px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .welcome_text ul li {
    font-size: 11px;
    padding-right: 12px;
    margin-right: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .welcome_text ul li {
    font-size: 11px;
    padding-right: 0;
    margin-right: 0;
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .welcome_text ul li {
    font-size: 11px;
    padding-right: 0;
    margin-right: 0;
    display: block;
    text-align: center;
  }
}
.welcome_text ul li::before {
  content: "";
  height: 16px;
  width: 1px;
  background: #a9a9a9;
  position: absolute;
  top: 7px;
  right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .welcome_text ul li::before {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .welcome_text ul li::before {
    display: none;
  }
}
.welcome_text ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}
.welcome_text ul li:last-child::before {
  display: none;
}
.welcome_text ul li span {
  color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .top_right {
    text-align: center !important;
    display: none;
    margin-bottom: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .top_right {
    text-align: center !important;
    display: none;
    margin-bottom: 18px;
  }
}
.top_right > ul > li {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-left: 20px;
}
@media only screen and (max-width: 767px) {
  .top_right > ul > li {
    padding-left: 14px;
    margin-left: 14px;
  }
}
.top_right > ul > li:first-child {
  padding-left: 0;
  margin-left: 0;
}
.top_right > ul > li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: #999;
  top: 6px;
  left: 0px;
}
.top_right > ul > li:first-child::before {
  display: none;
}
.top_right > ul > li > a {
  color: #fff;
  text-transform: capitalize;
  line-height: 26px;
  font-size: 12px;
  cursor: pointer;
  display: block;
  font-weight: 400;
}
.top_right > ul > li > a i {
  margin-left: 5px;
  font-size: 10px;
  color: #6c6c6c;
  pointer-events: none;
}
.top_right > ul > li > a:hover {
  color: #ff6a28;
}
.top_right > ul > li > a:not([href]):not([tabindex]) {
  color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .top_right > ul > li > a:not([href]):not([tabindex]) {
    color: #242424;
  }
}
@media only screen and (max-width: 767px) {
  .top_right > ul > li > a:not([href]):not([tabindex]) {
    color: #242424;
  }
}

.top_right > ul > li:hover a:not([href]):not([tabindex]) {
  color: #ff6a28;
}

.dropdown_links {
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  min-width: 140px;
  text-align: center;
  top: 127%;
  max-height: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  overflow: hidden;
  right: 0;
  z-index: 9999;
  padding: 0 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dropdown_links {
    right: inherit;
    min-width: 90px;
    padding: 0 6px;
    right: 0;
    left: auto;
  }
}
@media only screen and (max-width: 767px) {
  .dropdown_links {
    right: inherit;
    min-width: 90px;
    padding: 0 6px;
    right: 0;
    left: auto;
  }
}

.dropdown_links li {
  border-bottom: 1px solid #ddd;
  line-height: 36px;
}
.dropdown_links li:last-child {
  border-bottom: 0;
}
.dropdown_links li a {
  text-transform: capitalize;
  display: block;
  font-size: 12px;
  color: #747474;
  text-align: left;
}
.dropdown_links li a:hover {
  color: #ff6a28;
}

.dropdown_links.open {
  max-height: 150px;
}

.top_right ul li a img {
  margin-right: 5px;
}

/*header top css end*/

/* 2.4 main menu css here */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_bottom {
    max-height: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main_menu_inner {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .main_menu_inner {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main_menu {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .main_menu {
    display: none;
  }
}
.main_menu nav > ul > li {
  display: inline-block;
  position: relative;
}
.main_menu nav > ul > li > a {
  display: block;
  padding: 15px 25px;
  color: #242424;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 500;

}
.main_menu nav > ul > li > a i {
  margin-left: 2px;
}
.main_menu nav > ul > li:hover > a {
  color: #ff6a28;
}
.main_menu nav > ul > li.active > a {
  color: #ff6a28;
}
.main_menu nav > ul > li:first-child a {
  padding-left: 0;
}
.main_menu nav > ul > li ul.sub_menu {
  position: absolute;
  min-width: 220px;
  padding: 30px 25px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  left: 0;
  right: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 9;
  top: 140%;
}

.main_menu nav ul li:hover .sub_menu, .main_menu nav ul li:hover .mega_menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.main_menu nav ul li ul li.active a, .main_menu nav ul li ul li a:hover {
  color: #ff6a28;
}

.main_menu nav > ul > li > ul > li > a {
  color: #444444;
  font-size: 13px;
  text-transform: capitalize;
  line-height: 18px;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.main_menu nav > ul > li > ul.sub_menu > li:last-child > a {
  margin-bottom: 0;
}

.main_menu nav > ul > li > ul.mega_menu li ul li:last-child a {
  margin-bottom: 0;
}

.main_menu nav ul li ul.mega_menu {
  position: absolute;
  min-width: 100%;
  padding: 30px 25px 35px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  left: 0;
  right: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 9;
  top: 140%;
}

.main_menu nav > ul > li > ul.mega_menu > li {
  width: 25%;
  float: left;
  border-left: 1px solid #ddd;
  padding-left: 30px;
}
.main_menu nav > ul > li > ul.mega_menu > li:first-child {
  border-left: 0;
  padding-left: 0;
}
.main_menu nav > ul > li > ul.mega_menu > li:last-child {
  border-left: 0;
  padding-left: 0;
}

.main_menu nav > ul > li > ul.mega_menu > li.banner_menu {
  width: 100%;
  margin-top: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main_menu nav > ul > li > ul.mega_menu > li.banner_menu:hover {
  opacity: 0.8;
}

.main_menu nav > ul > li > ul.mega_menu > li.banner_menu a {
  margin-bottom: 0;
}

.main_menu nav > ul > li > ul.mega_menu > li > a {
  text-transform: capitalize;
  color: #242424;
  font-weight: 600;
  font-size: 14px;
}

.main_menu nav > ul > li > ul.mega_menu li ul li a {
  color: #747474;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 15px;
  display: block;
  text-transform: capitalize;
  font-weight: 400;
}

.main_menu nav > ul > li > ul.mega_menu li ul li a:hover {
  color: #ff6a28;
}

.main_menu nav ul li ul.sub_menu.pages {
  left: inherit;
  right: inherit;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header_bottom {
    padding: 0 30px;
  }
}

/*home three css heer*/
.header_three .header_top {
  padding: 7px 30px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header_three .header_top {
    padding: 7px 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header_three .header_top {
    padding: 7px 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_three .header_top {
    padding: 7px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .header_three .header_top {
    padding: 7px 0;
  }
}
.header_three .header_middel {
  padding: 40px 30px 18px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header_three .header_middel {
    padding: 40px 30px 18px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header_three .header_middel {
    padding: 40px 30px 18px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_three .header_middel {
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .header_three .header_middel {
    padding: 0;
  }
}
.header_three .header_bottom {
  display: none;
}
.header_three .header_bottom.sticky-header.sticky {
  display: block;
}
@media only screen and (min-width: 1600px) and (max-width: 1799px) {
  .header_three .header_bottom {
    display: block;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header_three .header_bottom {
    display: block;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header_three .header_bottom {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_three .header_bottom {
    display: block;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  .header_three .header_bottom {
    display: block;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header_three .main_menu nav > ul > li ul.mega_menu {
    min-width: 580px;
  }
}
@media only screen and (max-width: 767px) {
  .header_three .search_bar {
    margin-top: 18px;
    margin-bottom: 23px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_three .search_bar {
    margin-top: 0;
  }
}
.header_three .search_bar form {
  width: 274px;
}
.header_three .search_bar form input {
  width: 100%;
  height: 46px;
  line-height: 48px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header_three .search_bar form {
    width: 280px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header_three .search_bar form {
    width: 280px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_three .search_bar form {
    width: 254px;
  }
}
@media only screen and (max-width: 767px) {
  .header_three .search_bar form {
    width: 100%;
  }
}
.header_three .logo {
  text-align: center;
  display: none;
}
@media only screen and (min-width: 1600px) and (max-width: 1799px) {
  .header_three .logo {
    display: block;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header_three .logo {
    display: block;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header_three .logo {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_three .logo {
    position: unset;
    display: block;
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  .header_three .logo {
    display: block;
    text-align: left;
  }
}
.header_three .main_menu_inner {
  text-align: center;
}
.header_three .main_menu nav > ul > li:first-child > a {
  padding: 15px 25px;
}
.header_three .main_menu nav > ul > li ul.sub_menu li {
  text-align: left;
}
.header_three .main_menu nav > ul > li ul.mega_menu li {
  text-align: left;
}

.sticky-header.sticky .home_menu_inner {
  top: 159%;
}

/* 04. slider area css here */
.single_slider {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  .single_slider {
    background-position: 11%;
  }
}
.single_slider .row {
  height: 750px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .single_slider .row {
    height: 600px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_slider .row {
    height: 550px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_slider .row {
    height: 480px;
  }
}
@media only screen and (max-width: 767px) {
  .single_slider .row {
    height: 330px;
  }
}
.single_slider .slider_content.content_one {
  margin-left: 13%;
  width: 550px;
  text-align: center;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .single_slider .slider_content.content_one {
    margin-left: 8%;
    width: 500px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_slider .slider_content.content_one {
    margin-left: 5%;
    width: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_slider .slider_content.content_one {
    margin-left: 5%;
    width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .single_slider .slider_content.content_one {
    margin-left: inherit;
    width: inherit;
  }
}
@media only screen and (max-width: 767px) {
  .single_slider .slider_content.content_one img {
    width: 200px;
    margin: 0 auto;
  }
}
.single_slider .slider_content.content_two {
  margin-left: 15%;
  width: 550px;
  text-align: center;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .single_slider .slider_content.content_two {
    margin-left: 8%;
    width: 500px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_slider .slider_content.content_two {
    margin-left: 5%;
    width: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_slider .slider_content.content_two {
    margin-left: 5%;
    width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .single_slider .slider_content.content_two {
    margin-left: inherit;
    width: inherit;
  }
}
@media only screen and (max-width: 767px) {
  .single_slider .slider_content.content_two img {
    width: 200px;
    margin: 0 auto;
  }
}
.single_slider .slider_content.content_three {
  text-align: center;
}
.single_slider .slider_content.content_three img {
  width: 600px;
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .single_slider .slider_content.content_three img {
    width: 500px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_slider .slider_content.content_three img {
    width: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_slider .slider_content.content_three img {
    width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .single_slider .slider_content.content_three img {
    width: 165px;
  }
}

.active .slider_content img {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_style .slider_content {
    padding-left: 40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_style .slider_content {
    padding-left: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .slider_style .slider_content {
    text-align: center;
  }
}
.slider_style .slider_content p {
  font-size: 16px;
  color: #fff;
  margin-top: 22px;
}
@media only screen and (max-width: 767px) {
  .slider_style .slider_content p {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.slider_style .slider_content a {
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  margin-top: 22px;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  display: inline-block;
}
.slider_style .slider_content a:hover {
  color: #ff6a28;
  border-color: #ff6a28;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_style .slider_content a {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .slider_style .slider_content a {
    margin-top: 5px;
    font-size: 15px;
  }
}

.slider_area {
  margin-bottom: 100px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_area {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_area {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_area {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .slider_area {
    margin-bottom: 60px;
  }
}
.slider_area.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}
.slider_area.owl-carousel .owl-nav div {
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
  font-size: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  transition: .3s;
  color: #5f5f5f;
  left: 40px;
  opacity: 0;
  visibility: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_area.owl-carousel .owl-nav div {
    left: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .slider_area.owl-carousel .owl-nav div {
    left: 5px;
    display: none;
  }
}
.slider_area.owl-carousel .owl-nav div:hover {
  color: #fff;
}
.slider_area.owl-carousel .owl-nav div.owl-next {
  right: 40px;
  left: auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_area.owl-carousel .owl-nav div.owl-next {
    right: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .slider_area.owl-carousel .owl-nav div.owl-next {
    right: 5px;
  }
}
.slider_area.owl-carousel .owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .slider_area.owl-carousel .owl-dots {
    bottom: 10px;
  }
}
.slider_area.owl-carousel .owl-dots .owl-dot {
  width: 30px;
  height: 3px;
  display: inline-block;
  background: #ddd;
  margin: 0 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slider_area.owl-carousel .owl-dots .owl-dot.active {
  background: #ff6a28;
}

/*home three css here*/
.home_three_slider {
  margin-bottom: 30px;
}
.home_three_slider .row {
  height: 780px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .home_three_slider .row {
    height: 600px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home_three_slider .row {
    height: 550px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home_three_slider .row {
    height: 450px;
  }
}
@media only screen and (max-width: 767px) {
  .home_three_slider .row {
    height: 300px;
  }
}
.home_three_slider .single_slider .slider_content {
  position: relative;
}
.home_three_slider .single_slider .slider_content p {
  position: absolute;
  bottom: 130px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .home_three_slider .single_slider .slider_content p {
    bottom: 100px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home_three_slider .single_slider .slider_content p {
    bottom: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home_three_slider .single_slider .slider_content p {
    bottom: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .home_three_slider .single_slider .slider_content p {
    bottom: 65px;
  }
}
.home_three_slider .single_slider .slider_content.content_one {
  margin-left: inherit;
  text-align: center;
  padding-left: 0;
  width: inherit;
}
@media only screen and (max-width: 767px) {
  .home_three_slider .single_slider .slider_content.content_one {
    padding-top: 50px;
  }
}
.home_three_slider .single_slider .slider_content.content_one img {
  width: 720px;
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .home_three_slider .single_slider .slider_content.content_one img {
    width: 600px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home_three_slider .single_slider .slider_content.content_one img {
    width: 550px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home_three_slider .single_slider .slider_content.content_one img {
    width: 400px;
  }
}
@media only screen and (max-width: 767px) {
  .home_three_slider .single_slider .slider_content.content_one img {
    width: 230px;
    position: relative;
    top: -50px;
  }
}
.home_three_slider .single_slider .slider_content.content_one a {
  margin-top: 0;
}
.home_three_slider .single_slider .slider_content.content_two {
  text-align: center;
  margin-left: inherit;
  width: inherit;
}
.home_three_slider .single_slider .slider_content.content_two img {
  width: 800px;
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .home_three_slider .single_slider .slider_content.content_two img {
    width: 650px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home_three_slider .single_slider .slider_content.content_two img {
    width: 600px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home_three_slider .single_slider .slider_content.content_two img {
    width: 450px;
  }
}
@media only screen and (max-width: 767px) {
  .home_three_slider .single_slider .slider_content.content_two img {
    width: 230px;
    position: relative;
    top: -50px;
  }
}
.home_three_slider .single_slider .slider_content.content_three {
  text-align: center;
}
.home_three_slider .single_slider .slider_content.content_three img {
  width: 700px;
  position: relative;
  top: -85px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .home_three_slider .single_slider .slider_content.content_three img {
    width: 500px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home_three_slider .single_slider .slider_content.content_three img {
    width: 480px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home_three_slider .single_slider .slider_content.content_three img {
    width: 380px;
  }
}
@media only screen and (max-width: 767px) {
  .home_three_slider .single_slider .slider_content.content_three img {
    width: 230px;
    top: -52px;
  }
}
.home_three_slider .single_slider .slider_content.content_three p {
  bottom: 90px;
}
@media only screen and (max-width: 767px) {
  .home_three_slider .single_slider .slider_content.content_three p {
    bottom: 45px;
  }
}
.home_three_slider .single_slider .slider_content.content_three a {
  margin-top: 0;
}

.active .slider_content h1, .active .slider_content h2, .active .slider_content a {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.active .slider_content h2 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.active .slider_content a {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.active .slider_content p {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.slider_section {
  margin-bottom: 92px;
  padding: 0 30px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_section {
    padding: 0 30px;
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_section {
    padding: 0 30px;
    margin-bottom: 70px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_section {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  .slider_section {
    padding: 0;
  }
}


/* 06. banner section css here */
.banner_conteiner {
  background: url(../img/bg/banner3.jpg) no-repeat scroll center center/cover;
  height: 550px;
  display: table;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .banner_conteiner {
    height: 350px;
  }
}

/* 05. product section css here */
.section_title {
  text-align: center;
  margin-bottom: 28px;
}
@media only screen and (max-width: 767px) {
  .section_title {
    margin-bottom: 15px;
  }
}
.section_title h2 {
  font-size: 36px;
  color: #242424;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 11px;
  line-height: 38px;
  letter-spacing: -0.05em;
}
@media only screen and (max-width: 767px) {
  .section_title h2 {
    font-size: 22px;
    line-height: 25px;
  }
}
.section_title p {
  margin-bottom: 0;
}

.tab-content > .tab-pane.active {
  display: block;
  height: auto;
  opacity: 1;
  overflow: visible;
}

.tab-content > .tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.product_section {
  padding: 0 120px 54px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .product_section {
    padding: 0 30px 39px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_section {
    padding: 0 30px 39px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product_section {
    padding: 0 20px 39px;
  }
}
@media only screen and (max-width: 767px) {
  .product_section {
    padding: 0 0 39px;
  }
}

.single_product {
  margin-bottom: 40px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .single_product {
    margin-bottom: 33px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_product {
    margin-bottom: 33px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_product {
    margin-bottom: 33px;
  }
}
@media only screen and (max-width: 767px) {
  .single_product {
    margin-bottom: 33px;
  }
}
.single_product:hover .product_thumb a.secondary_img {
  opacity: 1;
  visibility: visible;
}
.single_product:hover .product_action {
  opacity: 1;
  visibility: visible;
}
.single_product:hover .quick_button {
  opacity: 1;
  visibility: visible;
}

.product_thumb {
  position: relative;
  margin-bottom: 14px;
}
.product_thumb a.secondary_img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.product_content .spname {
  height: 20px;
}
.product_content p{
  margin-top: 30px;
}

.quick_button {
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media only screen and (max-width: 767px) {
  .quick_button {
    text-align: center;
  }
}
@media only screen and (max-width: 479px) {
  .quick_button {
    bottom: 8px;
    left: 20px;
    right: 20px;
  }
}
.quick_button a {
  line-height: 45px;
  background: #fff;
  color: #999;
  padding: 0 10px;
  font-weight: normal;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 13px;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  display: block;
}
.quick_button a:hover {
  color: #ff6a28;
}
@media only screen and (max-width: 479px) {
  .quick_button a {
    line-height: 30px;
    padding: 0 8px;
    font-size: 12px;
  }
}

.product_sale {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #ff6a28;
  padding: 0 13px;
  border-radius: 2px;
}
.product_sale span {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  line-height: 23px;
}

.double_base .product_sale {
  top: 46px;
  padding: 0 15px;
}

.product_content h3 {
  line-height: 22px;
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .product_content h3 {
    font-size: 12px;
  }
}
.product_content h3 a {
  color: #999;
}
.product_content h3 a:hover {
  color: #ff6a28;
}
.product_content span {
  font-size: 13px;
  font-weight: 500;
  color: #242424;
}
.product_content span.old_price {
  color: #a4a4a4;
  text-decoration: line-through;
  margin-left: 5px;
}

.label_product {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #007a58;
  padding: 0 13px;
  border-radius: 2px;
}
.label_product span {
  text-transform: capitalize;
  color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .womens_product {
    padding-bottom: 19px;
  }
}
@media only screen and (max-width: 767px) {
  .womens_product {
    padding-bottom: 19px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .womens_product .banner_area {
    margin-bottom: 51px;
  }
}
@media only screen and (max-width: 767px) {
  .womens_product .banner_area {
    margin-bottom: 54px;
  }
}

/*home three css here*/
.product_carousel .col-lg-3 {
  flex: 0 0 100%;
  width: 100%;
}
.product_carousel .owl-nav div {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  border: 0;
  background: inherit;
  font-size: 50px;
  z-index: 9;
  left: 0;
  color: #a9a9a9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (max-width: 767px) {
  .product_carousel .owl-nav div {
    left: 10px;
  }
}
.product_carousel .owl-nav div:hover {
  color: #ff6a28;
}
.product_carousel .owl-nav div.owl-next {
  right: 0;
  left: auto;
}
@media only screen and (max-width: 767px) {
  .product_carousel .owl-nav div.owl-next {
    right: 10px;
  }
}
.product_carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
  left: -20px;
}
@media only screen and (max-width: 767px) {
  .product_carousel:hover .owl-nav div {
    left: 0;
  }
}
.product_carousel:hover .owl-nav div.owl-next {
  right: -20px;
  left: auto;
}
@media only screen and (max-width: 767px) {
  .product_carousel:hover .owl-nav div.owl-next {
    right: 0;
  }
}

.product_section.womens_product.bottom {
  padding-bottom: 46px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .product_section.womens_product.bottom {
    padding-bottom: 31px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_section.womens_product.bottom {
    padding-bottom: 32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product_section.womens_product.bottom {
    padding-bottom: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .product_section.womens_product.bottom {
    padding-bottom: 16px;
  }
}

/* 09. footer area css here */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .footer_widgets {
    padding: 0 30px;
  }
}

.footer_top {
  border-bottom: 1px solid #ddd;
  padding-bottom: 92px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .footer_top {
    padding-bottom: 72px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer_top {
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_top {
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .footer_top {
    padding-bottom: 34px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .widgets_container {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .widgets_container {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .widgets_container.contact_us {
    margin-bottom: 34px;
  }
}
.widgets_container h3 {
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  margin-bottom: 16px;
  font-weight: 600;
  color: #242424;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .widgets_container h3 {
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 767px) {
  .widgets_container h3 {
    margin-bottom: 8px;
  }
}

.footer_menu ul li a {
  display: block;
  font-weight: 400;
  line-height: 30px;
  color: #747474;
}
.footer_menu ul li a:hover {
  color: #ff6a28;
}

.footer_contact p {
  margin-bottom: 0;
  line-height: 30px;
}
.footer_contact p a:hover {
  color: #ff6a28;
}
.footer_contact ul {
  margin-top: 10px;
}
.footer_contact ul li {
  display: inline-block;
  margin-right: 7px;
  padding: 10px;
}
.footer_contact ul li:last-child {
  margin-right: 0;
}
.footer_contact ul li a {
  color: #b2b2b2;
  font-size: 17px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e1e1e1;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  display: block;
}
.footer_contact ul li a i{
  padding-top:10px;
}
.footer_contact ul li a:hover {
  background: #242424;
  color: #fff;
  border-color: #242424;
}

.footer_custom_links {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .footer_custom_links {
    text-align: center;
  }
}
.footer_custom_links ul li {
  display: inline-block;
  padding-right: 30px;
}
@media only screen and (max-width: 767px) {
  .footer_custom_links ul li {
    padding-right: 20px;
  }
}
.footer_custom_links ul li:last-child {
  margin-right: 0;
}
.footer_custom_links ul li a {
  color: #747474;
  text-transform: capitalize;
}
.footer_custom_links ul li a:hover {
  color: #ff6a28;
}

@media only screen and (max-width: 767px) {
  .copyright_area {
    text-align: center;
  }
}
.copyright_area p {
  text-transform: capitalize;
}
@media only screen and (max-width: 767px) {
  .copyright_area p {
    margin-bottom: 5px;
  }
}

.footer_bottom {
  padding: 30px 0;
}
@media only screen and (max-width: 767px) {
  .footer_bottom {
    padding: 20px 0;
  }
}

.shop_inner_area {
  padding-bottom: 94px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 94px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .shop_inner_area {
    padding-bottom: 74px;
    margin-bottom: 74px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .shop_inner_area {
    padding-bottom: 74px;
    margin-bottom: 74px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_inner_area {
    padding-bottom: 54px;
    margin-bottom: 57px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_inner_area {
    padding-bottom: 54px;
    margin-bottom: 57px;
  }
}
@media only screen and (max-width: 767px) {
  .shop_inner_area {
    padding-bottom: 54px;
    margin-bottom: 57px;
  }
}

.breadcrumbs_area {
  padding: 40px 0;
}

.breadcrumb_content ul {
  line-height: 15px;
}
.breadcrumb_content ul li {
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  margin-right: 5px;
  color: #242424;
}
.breadcrumb_content ul li:last-child {
  margin-right: 0;
}
.breadcrumb_content ul li a {
  color: #999;
}
.breadcrumb_content ul li a:hover {
  color: #ff6a28;
}

.widget_list {
  margin-bottom: 45px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .widget_list {
    margin-bottom: 55px;
  }
}
@media only screen and (max-width: 767px) {
  .widget_list {
    margin-bottom: 55px;
  }
}
.widget_list:last-child {
  margin-bottom: 0;
}
.widget_list h2 {
  color: #242424;
  font-size: 18px;
  margin: 0 0 15px;
  padding: 0 0 5px;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 24px;
}
.widget_list > ul > li {
  padding-bottom: 8px;
}
.widget_list > ul > li:last-child {
  padding-bottom: 0;
}
.widget_list > ul > li > a {
  color: #242424;
  display: block;
  line-height: 27px;
}
.widget_list > ul > li > a:hover {
  color: #ff6a28;
}
.widget_list > ul > li > a:hover span {
  background: #ff6a28;
  color: #fff;
}
.widget_list > ul > li > a span {
  float: right;
  background: #ebebeb;
  color: #c3c3c3;
  font-size: 12px;
  width: 29px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  border-radius: 50%;
}
.widget_list.widget_filter form {
  padding-top: 10px;
}
.widget_list.widget_filter form input {
  background: none;
  border: none;
  font-size: 12px;
  float: right;
  text-align: right;
  line-height: 31px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .widget_list.widget_filter form input {
    width: 65px;
  }
}
.widget_list.widget_filter form button {
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  text-transform: uppercase;
  color: #ffffff;
  background: #242424;
  border: 0;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.widget_list.widget_filter form button:hover {
  background: #ff6a28;
}

.select_option {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .select_option {
    flex-direction: column;
  }
}
.select_option .nice-select {
  border: 0;
  height: 30px;
  line-height: 29px;
}
.select_option .nice-select ul.list {
  top: 114%;
  right: 0;
  width: 200px;
  max-height: 200px;
  overflow: auto;
}

.shop_title {
  margin-bottom: 20px;
}
.shop_title h1 {
  color: #242424;
  font-size: 33px;
  text-transform: capitalize;
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .pagination {
    margin-top: 19px;
  }
}
.pagination ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #f1f1f1;
  color: #747474;
  border-radius: 3px;
  margin-left: 3px;
}
.pagination ul li:first-child {
  margin-left: 0;
}
.pagination ul li a {
  display: block;
  border-radius: 3px;
}
.pagination ul li a:hover {
  background: #ff6a28;
  color: #ffffff;
}
.pagination ul li.current {
  background: #ff6a28;
  color: #ffffff;
}
.pagination ul li.next {
  width: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_reverse .shop_inner_area > .row {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 767px) {
  .shop_reverse .shop_inner_area > .row {
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_reverse .tab-content .row {
    flex-direction: row;
  }
}
@media only screen and (max-width: 767px) {
  .shop_reverse .tab-content .row {
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_area .list_view.active {
    margin-bottom: 54px;
  }
}
@media only screen and (max-width: 767px) {
  .shop_area .list_view.active {
    margin-bottom: 54px;
  }
}

.shop_fullwidth .shop_inner_area {
  padding-bottom: 100px;
  margin-bottom: 96px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .shop_fullwidth .shop_inner_area {
    padding-bottom: 80px;
    margin-bottom: 76px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .shop_fullwidth .shop_inner_area {
    padding-bottom: 80px;
    margin-bottom: 76px;
  }
}
@media only screen and (max-width: 767px) {
  .shop_fullwidth .shop_inner_area {
    padding-bottom: 60px;
    margin-bottom: 57px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_fullwidth .shop_inner_area {
    padding-bottom: 60px;
    margin-bottom: 57px;
  }
}

.product_content.list_content {
  display: none;
}

.grid_list .product_content.grid_content {
  display: none;
}

.grid_list .product_content.list_content {
  display: block;
  min-width: 0 0 66.666667%;
  margin-left: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .grid_list .product_content.list_content {
    flex: 0 0 55.333%;
    min-width: 55.333%;
  }
}
@media only screen and (max-width: 767px) {
  .grid_list .product_content.list_content {
    flex: 0 0 100%;
    min-width: 100%;
    margin-left: 0;
  }
}

.grid_list .single_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .grid_list .single_product {
    flex-direction: column;
  }
}

.grid_list .product_thumb {
  margin-bottom: 0;
  min-width: 33.333333%;
  margin-right: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .grid_list .product_thumb {
    flex: 0 0 40.667%;
    min-width: 40.667%;
  }
}
@media only screen and (max-width: 767px) {
  .grid_list .product_thumb {
    flex: 0 0 100%;
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.shop_wrapper > div {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* shop page css end*/

/* 19. login page css here */
.account_form h2 {
  font-size: 30px;
  text-transform: capitalize;
  color: #242424;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 34px;
}
@media only screen and (max-width: 767px) {
  .account_form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.account_form form {
  border: 1px solid #ddd;
  padding: 23px 20px 29px;
  border-radius: 5px;
}
.account_form label {
  font-size: 15px;
  font-weight: 400;
  color: #242424;
  cursor: pointer;
  line-height: 12px;
  margin-bottom: 12px;
}
.account_form label:hover {
  color: #ff6a28;
}
.account_form input {
  border: 1px solid #ddd;
  height: 40px;
  max-width: 100%;
  padding: 0 20px;
  background: none;
  width: 100%;
}
.account_form button {
  background: #ff6a28;
  border: 0;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 34px;
  line-height: 21px;
  padding: 5px 20px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 20px;
  border-radius: 20px;
}
.account_form button:hover {
  background: #242424;
}

.login_submit label input[type="checkbox"] {
  width: 15px;
  height: 13px;
  margin-right: 3px;
}

.login_submit {
  text-align: right;
}
.login_submit a {
  font-size: 13px;
  color: #ff6a28;
  float: left;
  line-height: 39px;
}
@media only screen and (max-width: 767px) {
  .login_submit a {
    float: none;
    line-height: 18px;
    display: block;
    margin-bottom: 20px;
  }
}

.customer_login {
  padding-bottom: 59px;
}

.account_form p {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .account_form.register {
    margin-top: 57px;
  }
}
/*login page css end */
/*# sourceMappingURL=style.css.map */
